<h1>Home</h1>
{% if 'user_id' in session %}
<button onclick="location.href='{{ url_for('create_post') }}'">Create Post</button> | 
<button onclick="location.href='{{ url_for('logout') }}'">Logout</button>
    {% for post in posts %}
        <h2>{{ post[1] }}</h2>
        <p>{{ post[2] }}</p>
        <button onclick="location.href='{{ url_for('edit_post', post_id=post[0]) }}'">Edit</button>
        <form method="post" action="{{ url_for('delete_post', post_id=post[0]) }}">
            <button type="submit">Delete</button>
        </form>
    {% else %}
        <p>No posts yet!</p>
    {% endfor %}
{% else %}
    <a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a>
    <p>Please login to see the posts.</p>
{% endif %}
